
/* header at the top */
.header-top {
    top: 0;
    bottom: auto;
    background: rgba(255,255,255,1);
}
/* header on the second screen */
.header-second-screen {
    bottom: -63px;/* 61px – header height */
}
.header.fixNav {
    position: fixed;
    top: 0;
    bottom: auto;
    background: rgba(255,255,255,0.95);
}

.site-logo {
    float: left;
}

.header .mobi-toggler {
    float: right;
    color: #D8D8D8;
    border: 1px solid #D8D8D8;
    border-radius: 100% !important;
    width: 32px;
    height: 32px;
    display: none;
    margin: 15px 15px 0;
    position: relative;
    background: url(../../public/img/toggler.png) no-repeat 6px 8px;
}
.header .mobi-toggler i {
    display: none;
}
.header .mobi-toggler:hover {
    background: #e34f00 url(../../public/img/toggler.png) no-repeat 6px -28px;
    border-color: #e34f00;
    color: #fff;
}

.header-navigation {
    float: right;
    list-style: none;
    padding: 0 0;
    margin: 0;
    font: 400 18px "PT Sans Narrow", Arial, sans-serif;
    text-transform: uppercase;
}
.header-navigation li {
    float: left;
    padding: 0;
    margin: 0 0 0 25px;
}
.header-navigation a {
    display: block;
    color: #78828c;
}
.header-navigation a:hover,
.header-navigation li.current a {
    color: #e6400c;
}

.header a:hover {
    text-decoration: none;
}
.page-sidebar .sidebar-toggler,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler {
    display: block;
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
    width: 30px;
    height: 27px;
    margin-top: 15px;
    margin-right: 19px;
    float: right;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.menu-toggler {
    display: block;
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
}
.menu-toggler:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}
.menu-toggler.sidebar-toggler {
    float: right;
    margin: 11px 0 0 0;
}
.menu-toggler.sidebar-toggler {
    margin-right: 10.5px;
}

.menu-toggler.responsive-toggler {
    display:none;
    float: right;
    margin: 11px 6px 0 6px;
    z-index: 9999;
    position: relative;
    background: url(../../public/img/toggler.png) no-repeat 6px 8px;
}

@media (max-width:991px){
    .menu-toggler.responsive-toggler {
        display: inline-block;
    }
}

