.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.cardForm-Field50 {
    float: left;
    width: 50%;
}
.jp-card .jp-card-front .jp-card-display, .jp-card .jp-card-back .jp-card-display {
    text-shadow: 0 1px 2px #1D1F20;
}
.jp-card .jp-card-front, .jp-card .jp-card-back {
    background: #27ae60!important;
}
.card-container form {
    max-width: 350px;
    text-align: center;
}
.form-container form {
    margin: 10px auto;
}
.form-container input {
    margin: 0 0 10px 0;
    font-size: 16px;
    float: left;
    padding: 5px 0;
    box-sizing: border-box;
    webkit-box-shadow: none;
    box-shadow: none;
    display: block;
}
input.secondRow {
    float: left;
    display: block;
    width: 100%;
}
.form-container label {
    text-align: left;
    float: left;
    padding: 5px 0 0px 5px;
    width: 100%;
    font-family: arial;
    text-transform: uppercase;
    font-size: 14px;
}
input.button {
    width: 100%;
    padding: 11px;
    border: none;
    box-shadow: none;
    border-radius: 0;
}
input:not([type=submit]):not([type=file]) {
    border: 1px solid #DDD;
    -webkit-box-shadow:
            inset 0 0 0px  rgba(0,0,0,0.1),
            0 0 0px rgba(0,0,0,0.1);
    -moz-box-shadow:
            inset 0 0 0px  rgba(0,0,0,0.1),
            0 0 0px rgba(0,0,0,0.1);
    box-shadow:
            inset 0 0 0px  rgba(0,0,0,0.1),
            0 0 0px rgba(0,0,0,0.1);
    padding: 10px;
}
.form-container input[name="name"]{
    width: 100%;
}
.form-container input[name="number"]{
    width: 100%;
}
.form-container input[name="cvc"]{
    border-left: 0px;
}
.CardGood, .CardGood:hover {
    background: #27ae60;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}
.form-container input.incorrectInfo {
    border: red solid 1px;
}
.jp-card .jp-card-front{
    z-index:10;
    position:relative;
}