#profile .avatar:before{
    content:'';
    display:block;
    position:absolute;
    height:1px;
    z-index:0;
    background:#c8cccf;


}

@media (min-width:992px){
    #profile .avatar:before{
        top:16%;
        width:84%;
    }
}
@media(min-width:992px) and (max-width: 1200px){
    #profile .avatar:before {
        left:9%;
        top:123px;
        width:84%;
    }
}
@media(min-width:768px) and (max-width: 992px){
    #profile .avatar:before {
        left:9%;
        top:123px;
        width:84%;
    }
}

@media (max-width:768px){
    #profile .avatar:before{
        top: 126px;
        width:84%;
        left:9%;
    }
}
#profile img{
    border-radius: 50%;
    z-index: 3;
    position: relative;
    border-color: #fff;
    border-style: solid;
    width:180px;
    border-width:0 31px;
}
#profile h1{
    font-size:36px;
    color:black;
    margin-top:10px;
}
#profileForm label{
    line-height:20px;
    color:#444;
}
#profileForm input{
    border-radius: 0;
    background-color:#fff;
    height:44px;
}
#profileHeader{
    line-height:17px;
}
#profileForm input#profileSave{
    background-color:#72c7fe;
}