/* General body settings */
body {
    color: #000;
    direction: ltr;
    font: 300 14px/1.4 "Open Sans", Arial, sans-serif;
    background: #fff;
}
/* h1-h6 */
.content h1, .content h2 {
    font: 900 4em "PT Sans Narrow", Arial, sans-serif;
    margin: 0 0 10px;
    text-transform: none;
}
.content h1:after, .content h2:after {
    z-index: 2;
    content: " ";
    display: block;
    padding-top: 7px;
    border-bottom: 2px solid #b7bbbf;
    width: 73px;
    margin: 0 auto;
}
.content h3, .content h4, .content h5, .content h6 {
    font: 300 18px "Open Sans", Arial, sans-serif;
    padding: 0;
    margin: 0;
}
.content h1 strong,
.content h2 strong,
.content h3 strong,
.content h4 strong {
    color: #e54a1a;
    font-weight: 300;
}
.content h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}
.content h4 {
    font-size: 18px;
}
.content h5 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 30px;
    padding-top: 5px;
}
.content h6 {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 5px;
    padding-top: 5px;
}
/* links styles */
a, a:focus, a:hover, a:active {
    color: #e6400c;
    outline: 0;
    text-decoration: none;
}
a:hover {
    color: #e6400c;
    text-decoration: underline;
}

/* Global classes */
::-moz-selection {
    color: #fff;
    background: #e6400c;
}
::selection {
    color: #fff;
    background: #e6400c;
}

.min-hight500 {
    min-height: 500px;
}

.lead {
    font: 400 17px "Open Sans", sans-serif;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}
*html .clearfix {
    zoom: 1;
}
*+html .clearfix {
    zoom: 1;
}
.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content-center {
    text-align: center;
}
.border-bottom-silver {
    border-bottom: solid 1px #b7bbbf;
}

.more-li-space li {
    margin-bottom: 3px;
}

.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.no-bottom-padding {
    padding-bottom: 0 !important;
}
.no-bottom-space {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.no-top-padding {
    padding-top: 0 !important;
}
.no-top-space {
    padding-top: 0 !important;
    margin-top: 0 !important;
}
.no-space {
    margin: 0 !important;
    padding: 0 !important;
}
.no-text-shadow {
    text-shadow: none;
}

.padding-top-5 {
    padding-top: 5px !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-top-15 {
    padding-top: 15px !important;
}
.padding-top-20 {
    padding-top: 20px !important;
}
.padding-top-25 {
    padding-top: 25px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.padding-top-35 {
    padding-top: 35px !important;
}
.padding-top-40 {
    padding-top: 40px !important;
}
.padding-top-45 {
    padding-top: 45px !important;
}
.padding-top-50 {
    padding-top: 50px !important;
}
.padding-top-60 {
    padding-top: 60px !important;
}
.padding-top-70 {
    padding-top: 70px !important;
}
.padding-top-80 {
    padding-top: 80px !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-bottom-5 {
    margin-bottom: 5px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-25 {
    margin-bottom: 25px !important;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.margin-bottom-35 {
    margin-bottom: 35px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
.margin-bottom-45 {
    margin-bottom: 45px !important;
}
.margin-bottom-50 {
    margin-bottom: 50px !important;
}
.margin-bottom-60 {
    margin-bottom: 60px !important;
}
.margin-bottom-65 {
    margin-bottom: 65px !important;
}
.margin-bottom-70 {
    margin-bottom: 70px !important;
}
.margin-bottom-80 {
    margin-bottom: 80px !important;
}
.margin-bottom-90 {
    margin-bottom: 90px !important;
}
.margin-bottom-100 {
    margin-bottom: 100px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-5{
    margin-top: 5px !important;
}
.margin-left-0 {
    margin-left: 0 !important;
}
.margin-right-0 {
    margin-right: 0 !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}
.margin-left-20 {
    margin-left: 20px !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}
.padding-right-0 {
    padding-right: 0 !important;
}
.padding-right-30 {
    padding-right: 30px !important;
}
.margin-left-10{
    margin-left:10px !important;
}
.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.btn {
    padding: 7px 14px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
}


.header {
    top: auto;
    left: auto;
    right: auto;
    z-index: 9;
    width: 100%;
    min-height: 60px;
    padding: 0;
    background: rgb(87,156,69);
    box-shadow: 0 1px 4px rgb(87,156,69);
    z-index: 9999;
}

.menu-always-on-top .header {
    background: #fff;
    top: 0;
    bottom: auto;
    position: fixed;
}

/* header at the top */
.header-top {
    top: 0;
    bottom: auto;
    background: rgba(255,255,255,1);
}
/* header on the second screen */
.header-second-screen {
    bottom: -63px;/* 61px – header height */
}
.header.fixNav {
    position: fixed;
    top: 0;
    bottom: auto;
    background: rgba(255,255,255,0.95);
}

.site-logo {
    float: left;
}

.header .mobi-toggler {
    float: right;
    color: #D8D8D8;
    border: 1px solid #D8D8D8;
    border-radius: 100% !important;
    width: 32px;
    height: 32px;
    display: none;
    margin: 15px 15px 0;
    position: relative;
    background: url(../../public/img/toggler.png) no-repeat 6px 8px;
}
.header .mobi-toggler i {
    display: none;
}
.header .mobi-toggler:hover {
    background: #e34f00 url(../../public/img/toggler.png) no-repeat 6px -28px;
    border-color: #e34f00;
    color: #fff;
}

.header-navigation {
    float: right;
    list-style: none;
    padding: 0 0;
    margin: 0;
    font: 400 18px "PT Sans Narrow", Arial, sans-serif;
    text-transform: uppercase;
}
.header-navigation li {
    float: left;
    padding: 0;
    margin: 0 0 0 25px;
}
.header-navigation a {
    display: block;
    color: #78828c;
}
.header-navigation a:hover,
.header-navigation li.current a {
    color: #e6400c;
}

.header a:hover {
    text-decoration: none;
}

/* Promo block */
.promo-block {
    overflow-x: hidden;
}
.slider-item-1 .promo-like {
    color: #fff;
    background: rgba(0,0,0,0.67);
    display: inline-block;
    margin-right: 7px;
    text-align: left;
    padding: 35px 22px 25px 21px;
    position: relative;
    top: -12px;
}
.slider-item-1 .promo-like i {
    font-size: 80px;
    line-height: 1;
}
.slider-item-1 .promo-like-text {
    color: #fff;
    background: rgba(0,0,0,0.67);
    font: 400 20px/1.4 "PT Sans Narrow", Arial, sans-serif;
    display: inline-block;
    text-align: left;
    padding: 22px 25px 17px;
}
.slider-item-1 .promo-like-text h2 {
    font: 400 38px/38px "PT Sans Narrow", Arial, sans-serif;
    padding: 0;
    margin: 0 0 8px;
}
.slider-item-1 .promo-like-text p {
    margin: 0;
}
.slider-item-1 .large_bold_white,
.slider-item-2 .large_bold_white {
    font: 700 75px/83px "PT Sans Narrow", Arial, sans-serif;
    text-transform: uppercase;
}
.slider-item-1 .large_bold_white span,
.slider-item-2 .large_bold_white span {
    color: #e54a1a;
}

.slider-item-2 .tp-caption.medium_bg_asbestos {
    background: none;
}
.slider-item-2 .mobi-caption {
    font: 400 70px/70px "PT Sans Narrow", Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.boxedcontainer {
    max-width: 1170px;
    margin:auto;
    padding:0px 30px;
}
.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
}
.tp-banner {
    width: 100%;
    position: relative;
}
.tp-banner-fullscreen-container {
    width: 100%;
    position: relative;
    padding: 0;
}
.tp-banner-container ul,
.tp-banner-container li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.tp-bannertimer {
    background:#777 !important;
    background:rgba(0,0,0,0.1) !important;
    height:5px !important;
}
.tp-bullets.simplebullets.navbar {
    height: 35px;
    padding: 0px 0px;
}
.tp-bullets.simplebullets .bullet {
    cursor: pointer;
    position: relative !important;
    background: rgba(0, 0, 0, 0.5) !important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 6px !important;
    height: 6px !important;
    border: 5px solid rgba(0, 0, 0, 0) !important;
    display: inline-block;
    margin-right: 2px !important;
    margin-bottom: 14px !important;
    -webkit-transition: background-color 0.2s, border-color 0.2s;
    -moz-transition: background-color 0.2s, border-color 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s;
    -ms-transition: background-color 0.2s, border-color 0.2s;
    transition: background-color 0.2s, border-color 0.2s;
    float:none !important;
}
.tp-bullets.simplebullets .bullet.last {
    margin-right: 0px
}
.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: rgba(255, 255, 255, 1) !important;
    width: 6px !important;
    height: 6px !important;
    border: 5px solid rgba(0, 0, 0, 1) !important;
}
.tparrows:before {
    font-family: 'revicons';
    color: #fff;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0;
    margin-top: 7px;
    text-align: center;
    width: 40px;
    font-size: 20px;
}
.tparrows {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.32) !important;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 40px !important;
    height: 40px !important;
}
.tparrows:hover {
    color: #fff;
}
.tp-leftarrow:before {
    content: '\e824';
}
.tp-rightarrow:before {
    content: '\e825';
}
.tparrows.tp-rightarrow:before {
    margin-left: 1px;
}
.tparrows:hover {
    background: rgba(255, 255, 255, 0.32) !important;
}



/* go2top */
.go2top,
.go2top:focus {
    position: fixed;
    right: 15px;
    bottom: 8px;

    color: #999;
    width: 38px;
    height: 38px;

    border: solid 2px #999;
    border-radius: 50% !important;
    text-align: center;
    padding: 7px 0 0 1px;
    z-index: 99999;

    font-size: 18px;
    line-height: 1;
}
.go2top:hover {
    border: solid 2px #e6400c;
    color: #e6400c;
}
.go2top i {
    font-size: 18px;
    line-height: 18px;
}

.fancybox-overlay {
    z-index: 100000 ;
}

.fancybox-opened {
    z-index: 100001;
}

/***
Styler Panel
***/
.color-gray {
    background: #798b97;
}
.color-turquoise {
    background: #44b1c1;
}
/* here you can put your own css to customize and override the theme */
a, a:focus, a:hover, a:active{
    font-weight:900;
}
#sidebar{
    padding:0;
}
#sidebar .page-sidebar{
    width:100%;
}
#slideContent{
    padding:10px 0 0 0;
    background-color:rgb(103,150,191);
    max-height:630px;
}
.page-sidebar-menu li{
    border-bottom:1px solid #EEE !important;
}
.page-sidebar-menu li span{
    color:#000;
    font-size:17px;
}
#socialButtons{
    padding-top:30px;
    border-bottom:0 !important;
    width:53%;
    margin:auto;
}
.content h1:after, .content h2:after{
    border-bottom:0;
}
#startButtons{
    position:absolute;
    z-index:1000;
    top:10px;
}
.btn + .btn{
    margin-left:-5px;
}
.btn{
    text-transform:none;
}
.page-sidebar .page-sidebar-menu > li.active{
    border-right:3px solid rgb(101,150,191) ;
}
.row{
    margin:0;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    width:100%;
}
.rightContent{
    margin-top:70px;
}
#maptitle{
    width:80%;
    margin:auto;
    background-color:#fff;
}
#googlemap{
    background-image:url(../../public/img/route.png);
    padding-top:50px;
    padding-bottom:30px;
}
#gmap_routes{
    width:80%;
    margin:auto;
    height:500px;
}
.titleTime{
    line-height:54px;
}
.titleTime.selected{
    padding:0;
}
.titleTime.selected span{
    background-color:#eee;
    border:1px solid;
    border-radius:5px !important;
    padding:0 5px;
    color:green;
}
#maptitle h3{
    margin:0;
}
.tp-banner-container {
    width: 100% !important;
    position: relative;
    padding: 0;
    max-height: 630px !important;
    overflow: hidden;
}
#socialButtons a{
    border-radius:3px !important;
}
.page-sidebar-menu li.active span{
    color:rgb(101,150,191);
}
.page-sidebar-menu li:first-child{
    padding-bottom:30px;
}
#startButtons .btn{
    font-size:20px;
    padding:20px 40px;
}
.hephaistos .tp-bullet{
    border-radius:50% !important;
}
.tp-banner-container{
    left:0 !important;
    height:100% !important;
}
.forcefullwidth_wrapper_tp_banner{
    max-height:630px !important;
}
.tp-fullwidth-forcer{
    max-height:630px !important;
}
.nav-pos-ver-bottom{
    top:93% !important;
}
#btnUser{
    background-color: white;
    font-size: 36px;
    vertical-align: middle;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    border: 3px solid black;
    padding-top: 13px;
    padding-left: 0;
    padding-right: 0;
}
#btnSetting{
    background-color: rgb(154,203,78);
    color:white;
    font-size: 36px;
    vertical-align: middle;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    padding-top: 8px;
    padding-left: 1px;
    padding-right: 0;
}
.text-white{
    color:white;
}
.form-title h3{
    font-size:24px;
}
.height100vh{
    height:100vh;
}
.signupContent{
    background-size:100% 100%;
    background-color:rgb(87,156,69);
}
.signup-form{
    background-color:rgb(87,156,69);
    padding:10px;
}
@media (min-width:992px){
    .signup-form{
        margin-top:100px;
        min-width:500px;
    }
    .mainContent{
        min-width:500px;
    }
}
@media(max-width:992px){
    .signupContent div.col-md-4:first-child{
        padding-top:100px;
    }
}
.background{
    background-image:url(../../public/img/signup.jpg);
    background-size:100% 100%;
    width:100%;
    height:500px;
    margin:auto;
}
.mainContent{
    background-color:rgb(151,98,202);
    padding-bottom:20px;
}
.mainContent h2{
    font-size:3em;
}
.borderright{
    border-right:1px solid #67BD3C;
}
.yellowBackground{
    background-color:rgb(253,154,1);
}
.grayBackground{
    background-color:rgb(230,216,241);
}
.whiteBackground{
    background-color:white;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color:transparent;
    border:none;
    color:#fff;
}
.blackBackground{
    background-color:rgb(59,6,110);
}
.noborder{
    border:none;
}
#mainarrwo{
    width:100%;
    margin-top:10px;
}
.width100{
    width:100%;
}
.text-yellow{
    color:rgb(254,248,160);
}
#payNow{
    line-height:30px;
}
#payNow span{
    width:30px;
    height:30px;
    line-height:30px;
    border-radius:50% !important;;
}
#profileSection{
    width:300px;
}
#profileContent{
    width:399px;
}
#profileContent p{
    padding-left:10px;
    padding-right:10px;
}
#profileContent .checkbox{
    padding-left:35px;
}
.signup-form .help-block{
    color:white;
}
.height38{
    height:38px;
    line-height:38px;
}
.padding33{
    padding-left: 33px;
}
.top20{
    margin-top:20px;
}
.font1_3{
    font-size:1.3em;
}
/*end style.css*/




a, a:focus, a:hover, a:active {
    color: #67BD3C;
}
a:hover {
    color: #67BD3C;
}
::-moz-selection {
    color: #fff;
    background: #67BD3C;
}
::selection {
    color: #fff;
    background: #67BD3C;
}
.header-navigation a:hover,
.header-navigation li.current a {
    color: #67BD3C;
}
.tb-socio .fa:hover {
    color: #67BD3C;
    border: solid 1px #67BD3C;
}
.carousel-indicators li.active {
    background: #67BD3C;
}
.go2top:hover {
    border: solid 2px #67BD3C;
    color: #67BD3C;
}
.content h1 strong, .content h2 strong, .content h3 strong, .content h4 strong {
    color: #67BD3C;
}
.slider-item-1 .large_bold_white span,
.slider-item-2 .large_bold_white span {
    color: #67BD3C;
}
.tp-caption a {
    color: #67BD3C;
}
.services-block .fa {
    background: #67BD3C;
}
.services-block .fa:after {
    border-top: 9px solid #67BD3C;
}
.team-block em {
    color: #67BD3C;
}
.portfolio-block .item > a {
    background: rgba(103, 189, 60, 0.85);
}
.choose-us-block .panel-default .accordion-toggle:before {
    background-color: #67BD3C;
}
.choose-us-block .panel-default .collapsed:before {
    background-color: #495764;/* black */
}
.choose-us-block .panel-default .panel-title:hover .collapsed:before {
    background-color: #67BD3C;
}
.btn-primary {
    background: #67BD3C;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #47991d;
}
.facts-block .item {
    background: rgba(103, 189, 60, 0.92);
}
.pi-price strong {
    background: #67BD3C;
}
.pi-price strong:after {
    border-top: 9px solid #67BD3C;
}
.pricing-content .list-unstyled li i {
    color: #67BD3C;
}
.pricing-footer .btn-default:hover,
.pricing-footer .btn-default:active {
    background: #67BD3C;
}
.portfolio-block .item b:hover {
    color: #67BD3C;
}
@media (max-width: 1024px) {
    .header-mobi-ext .header-navigation a:hover,
    .header-mobi-ext .header-navigation li.current a{
        background-color: #67BD3C;
        color: #fff !important;
    }
}
.header .mobi-toggler:hover {
    background-color: #67BD3C;
    border-color: #67BD3C;
}
/*end green.css*/



li [class^="fa-"], li [class^="glyphicon-"], li [class^="icon-"], li [class*=" fa-"], li [class*=" glyphicon-"], li [class*=" icon-"]{
    display:inline-block;
    width:1.25em;
    text-align:center;
}
.social-icons{
    padding:0;
    margin:0;
}
div, input, select, textarea, span, img, table, label, td, th, p, a, button, ul, code, pre, li{
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    border-radius:0 !important;
}
.social-icons li{
    float:left;
    display:inline;
    list-style:none;
    margin-right:5px;
    margin-bottom:5px;
    text-indent: -9999px;
}
.social-icons li .facebook{
    background:url(../../public/img/facebook.png) no-repeat;
}
.social-icons li .twitter{
    background:url(../../public/img/twitter.png) no-repeat;
}
.social-icons li .linkedin{
    background:url(../../public/img/linkedin.png) no-repeat;
}
.social-icons li .vimeo{
    background:url(../../public/img/vimeo.png) no-repeat;
}
.social-icons li > a{
    width:28px;
    height:28px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
}
.nav.pull-right > li > .dropdown-menu,.nav > li > .dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu li > a {
    padding: 8px 14px;
    color: #555;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    text-decoration: none;
    background-image: none;
    background-color: #f6f6f6;
    color: #555;
    filter: none;
}

/* layout.css start*/

.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu{
    list-style:none;
    margin:0;
    padding:0;
}
.page-sidebar .page-sidebar-menu > li,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
}

.page-sidebar .page-sidebar-menu > li.start > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.start > a {
    border-top-color: transparent !important;
}
.page-sidebar .page-sidebar-menu > li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
@media (min-width: 992px) {
    .page-sidebar.navbar-collapse {
        max-height: none !important;
    }
    .page-sidebar.navbar-collapse, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover.navbar-collapse{
        padding:0;
        box-shadow:none;
    }
}
/*layout.css end */